In [50]:
import boto3

from io import StringIO 
## Used as buffer to import csv 
import os, glob
from datetime import datetime, timedelta

# Use date argument to get data before date

In [66]:
arg_date = '2022-12-30'

In [67]:
arg_date_dt = datetime.strptime(arg_date, '%Y-%m-%d').date() - timedelta(days=1)

In [68]:
import pandas as pd

In [69]:
## Call AWS s3 Bucket 

s3 = boto3.resource('s3')

bucket = s3.Bucket('xetra-1234')

In [70]:
objects = [obj for obj in bucket.objects.all() if datetime.strptime(obj.key.split("/")[0], '%Y-%m-%d').date() >= arg_date_dt]

In [71]:
objects

[s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-29/2022-12-29_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-30/2022-12-30_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-12-31/2022-12-31_BINS_XETR23.csv')]

In [72]:
## Quick dirty Solution ##

csv_obj_init = bucket.Object(key = objects[0].key).get().get('Body').read().decode('utf-8')
df_init = StringIO(csv_obj_init)
df_init = pd.read_csv(df_init, delimiter = ',')
columnscode = df_init.columns

In [73]:
## csv_obj = bucket.Object(key = '2022-01-28/2022-01-28_BINS_XETR15.csv').get().get('Body').read().decode('utf-8')

df_all = pd.DataFrame(columns = columnscode )
for obj in objects:
    csv_obj = bucket.Object(key = obj.key).get().get('Body').read().decode('utf-8')
    df = StringIO(csv_obj)
    df = pd.read_csv(df, delimiter = ',')
    df_all = df_all.append(df, ignore_index = True)

C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)

C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)

C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)

In [74]:
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-12-29,08:00,13.880,13.880,13.880,13.880,63,1
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2022-12-29,08:00,29.000,29.140,29.000,29.140,6004,29
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2022-12-29,08:00,13.760,13.880,13.760,13.800,49560,55
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2022-12-29,08:00,212.000,212.000,210.400,210.600,17455,40
4,DE000A0JL9W6,VBK,VERBIO VER.BIOENERGIE ON,Common stock,EUR,2504343,2022-12-29,08:00,66.200,66.250,65.350,66.250,10884,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395752,GB00BLD4ZP54,CLTC,COINSHARES DIG.SEC.OEND,ETN,EUR,6479084,2022-12-31,16:46,19.324,19.324,19.324,19.324,0,2
395753,LU1923627332,RUSL,MUL-LYX.MSCI RUSSI.DIS.LS,ETF,EUR,5424594,2022-12-31,16:52,12.400,12.400,12.400,12.400,2645,2
395754,US98956P1021,ZIM,ZIMMER BIOMET HLDGS DL-01,Common stock,EUR,4582018,2022-12-31,20:30,113.100,113.100,113.100,113.100,0,1
395755,US9224171002,VEO,"VEECO INSTRUMENTS DL-,01",Common stock,EUR,6198311,2022-12-31,20:30,24.600,24.600,24.600,24.600,0,1
395756,IT0005143547,EM8,ENERGICA MOTOR CO.S.P.A.,Common stock,EUR,7026075,2022-12-31,20:30,3.100,3.100,3.100,3.100,0,1

In [75]:
##df = StringIO(csv_obj)
##df = pd.read_csv(df, delimiter = ',')
##df.head()
df_init.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [76]:
columns = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice','EndPrice', 'TradedVolume', 'NumberOfTrades']

df_all = df_all.loc[:,columns]
df_all.dropna(inplace=True)
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,2022-12-29,08:00,13.880,13.880,13.880,13.880,63,1
1,DE000A0DJ6J9,2022-12-29,08:00,29.000,29.140,29.000,29.140,6004,29
2,DE000A0D6554,2022-12-29,08:00,13.760,13.880,13.760,13.800,49560,55
3,DE000A0D9PT0,2022-12-29,08:00,212.000,212.000,210.400,210.600,17455,40
4,DE000A0JL9W6,2022-12-29,08:00,66.200,66.250,65.350,66.250,10884,22
...,...,...,...,...,...,...,...,...,...
395752,GB00BLD4ZP54,2022-12-31,16:46,19.324,19.324,19.324,19.324,0,2
395753,LU1923627332,2022-12-31,16:52,12.400,12.400,12.400,12.400,2645,2
395754,US98956P1021,2022-12-31,20:30,113.100,113.100,113.100,113.100,0,1
395755,US9224171002,2022-12-31,20:30,24.600,24.600,24.600,24.600,0,1
395756,IT0005143547,2022-12-31,20:30,3.100,3.100,3.100,3.100,0,1

# Get opening pricer per ISIN and day

In [77]:
df_all['opening_price'] = df_all.sort_values(by = ['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('first')

In [78]:
df_all[df_all['ISIN'] == 'AT0000A0E9W5']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades,opening_price
0,AT0000A0E9W5,2022-12-29,08:00,13.88,13.88,13.88,13.88,63,1,13.88
2500,AT0000A0E9W5,2022-12-29,08:05,13.88,13.99,13.86,13.99,2884,6,13.88
2813,AT0000A0E9W5,2022-12-29,08:06,13.97,14.00,13.89,13.89,4082,5,13.88
4103,AT0000A0E9W5,2022-12-29,08:10,13.89,13.89,13.89,13.89,50,1,13.88
9235,AT0000A0E9W5,2022-12-29,08:27,14.03,14.03,14.03,14.03,811,2,13.88
...,...,...,...,...,...,...,...,...,...,...
390925,AT0000A0E9W5,2022-12-31,16:26,14.04,14.04,14.04,14.04,1129,10,13.88
391301,AT0000A0E9W5,2022-12-31,16:27,14.03,14.14,14.02,14.04,6627,19,13.88
391595,AT0000A0E9W5,2022-12-31,16:28,14.04,14.04,14.03,14.03,2003,10,13.88
391946,AT0000A0E9W5,2022-12-31,16:29,14.08,14.08,14.00,14.00,354,5,13.88
392522,AT0000A0E9W5,2022-12-31,16:35,14.08,14.08,14.08,14.08,35170,2,13.88

# Get Closing price per ISIN and day

In [79]:
df_all['closing_price'] = df_all.sort_values(by = ['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('last')

In [80]:
df_all[df_all['ISIN'] == 'AT0000A0E9W5']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades,opening_price,closing_price
0,AT0000A0E9W5,2022-12-29,08:00,13.88,13.88,13.88,13.88,63,1,13.88,14.08
2500,AT0000A0E9W5,2022-12-29,08:05,13.88,13.99,13.86,13.99,2884,6,13.88,14.08
2813,AT0000A0E9W5,2022-12-29,08:06,13.97,14.00,13.89,13.89,4082,5,13.88,14.08
4103,AT0000A0E9W5,2022-12-29,08:10,13.89,13.89,13.89,13.89,50,1,13.88,14.08
9235,AT0000A0E9W5,2022-12-29,08:27,14.03,14.03,14.03,14.03,811,2,13.88,14.08
...,...,...,...,...,...,...,...,...,...,...,...
390925,AT0000A0E9W5,2022-12-31,16:26,14.04,14.04,14.04,14.04,1129,10,13.88,14.08
391301,AT0000A0E9W5,2022-12-31,16:27,14.03,14.14,14.02,14.04,6627,19,13.88,14.08
391595,AT0000A0E9W5,2022-12-31,16:28,14.04,14.04,14.03,14.03,2003,10,13.88,14.08
391946,AT0000A0E9W5,2022-12-31,16:29,14.08,14.08,14.00,14.00,354,5,13.88,14.08
392522,AT0000A0E9W5,2022-12-31,16:35,14.08,14.08,14.08,14.08,35170,2,13.88,14.08

# Aggregations

In [81]:
df_all = df_all.groupby(['ISIN', 'Date'], as_index=False).agg(opening_price_eur= ('opening_price', 'min'), closing_price_eur = ('closing_price', 'min'), minimum_price_eur = ('MinPrice', 'min'), maximum_price_eur = ('MaxPrice', 'max'), daily_traded_volume = ('TradedVolume', 'sum'))

In [82]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume
0,AT000000STR1,2022-12-29,36.6000,36.700,35.7500,36.700,1773
1,AT000000STR1,2022-12-30,36.6000,36.700,35.7500,36.700,1773
2,AT000000STR1,2022-12-31,36.6000,36.700,35.7500,36.700,1773
3,AT00000FACC2,2022-12-29,8.0500,8.570,7.8700,8.570,10205
4,AT00000FACC2,2022-12-30,8.0500,8.570,7.8700,8.570,10205
...,...,...,...,...,...,...,...
9691,XS2376095068,2022-12-30,34.2880,36.500,34.0640,36.500,1000
9692,XS2376095068,2022-12-31,34.2880,36.500,34.0640,36.500,1000
9693,XS2434891219,2022-12-29,3.4412,3.662,3.4184,3.662,0
9694,XS2434891219,2022-12-30,3.4412,3.662,3.4184,3.662,0
9695,XS2434891219,2022-12-31,3.4412,3.662,3.4184,3.662,0

# Percent Change - Daily Performance

In [83]:
df_all['prev_closing_price'] = df_all.sort_values(by=['Date']).groupby(['ISIN'])['closing_price_eur'].shift(1)

In [84]:
df_all['change_prev_closing_%'] = (df_all['closing_price_eur'] - df_all['prev_closing_price']) / df_all['prev_closing_price'] * 100

In [85]:
df_all.drop(columns=['prev_closing_price'], inplace=True)

In [86]:
df_all = df_all.round(decimals=2)

In [87]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,change_prev_closing_%
0,AT000000STR1,2022-12-29,36.60,36.70,35.75,36.70,1773,NaN
1,AT000000STR1,2022-12-30,36.60,36.70,35.75,36.70,1773,0.0
2,AT000000STR1,2022-12-31,36.60,36.70,35.75,36.70,1773,0.0
3,AT00000FACC2,2022-12-29,8.05,8.57,7.87,8.57,10205,NaN
4,AT00000FACC2,2022-12-30,8.05,8.57,7.87,8.57,10205,0.0
...,...,...,...,...,...,...,...,...
9691,XS2376095068,2022-12-30,34.29,36.50,34.06,36.50,1000,0.0
9692,XS2376095068,2022-12-31,34.29,36.50,34.06,36.50,1000,0.0
9693,XS2434891219,2022-12-29,3.44,3.66,3.42,3.66,0,NaN
9694,XS2434891219,2022-12-30,3.44,3.66,3.42,3.66,0,0.0
9695,XS2434891219,2022-12-31,3.44,3.66,3.42,3.66,0,0.0

In [88]:
df_all = df_all[df_all.Date >= arg_date]
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,change_prev_closing_%
1,AT000000STR1,2022-12-30,36.60,36.70,35.75,36.70,1773,0.0
2,AT000000STR1,2022-12-31,36.60,36.70,35.75,36.70,1773,0.0
4,AT00000FACC2,2022-12-30,8.05,8.57,7.87,8.57,10205,0.0
5,AT00000FACC2,2022-12-31,8.05,8.57,7.87,8.57,10205,0.0
7,AT0000606306,2022-12-30,14.51,15.00,13.65,15.28,107836,0.0
...,...,...,...,...,...,...,...,...
9689,XS2314660700,2022-12-31,22.26,21.92,21.92,22.28,0,0.0
9691,XS2376095068,2022-12-30,34.29,36.50,34.06,36.50,1000,0.0
9692,XS2376095068,2022-12-31,34.29,36.50,34.06,36.50,1000,0.0
9694,XS2434891219,2022-12-30,3.44,3.66,3.42,3.66,0,0.0
9695,XS2434891219,2022-12-31,3.44,3.66,3.42,3.66,0,0.0