In [1]:
import boto3

from io import StringIO 
## Used as buffer to import csv

In [2]:
import pandas as pd

In [22]:
## Call AWS s3 Bucket 

s3 = boto3.resource('s3')

bucket = s3.Bucket('xetra-1234')

bucket_obj = bucket.objects.filter(Prefix='2022-01-28')
bucket_obj2 = bucket.objects.filter(Prefix='2022-01-27')

In [23]:
objects = [obj for obj in bucket_obj] + [obj for obj in bucket_obj2]

In [24]:
objects

[s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-27/2022-01-27_BINS_XETR23.csv')]

In [31]:
## Quick dirty Solution ##

csv_obj_init = bucket.Object(key = objects[0].key).get().get('Body').read().decode('utf-8')
df_init = StringIO(csv_obj_init)
df_init = pd.read_csv(df_init, delimiter = ',')
columnscode = df_init.columns

In [32]:
## csv_obj = bucket.Object(key = '2022-01-28/2022-01-28_BINS_XETR15.csv').get().get('Body').read().decode('utf-8')

df_all = pd.DataFrame(columns = columnscode )
for obj in objects:
    csv_obj = bucket.Object(key = obj.key).get().get('Body').read().decode('utf-8')
    df = StringIO(csv_obj)
    df = pd.read_csv(df, delimiter = ',')
    df_all = df_all.append(df, ignore_index = True)

C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)

C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)
C:\Users\Adam\AppData\Local\Temp\ipykernel_32444\2302386809.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_all.append(df, ignore_index = True)

In [33]:
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-28,08:00,16.39,16.44,16.39,16.44,3249,4
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2022-01-28,08:00,31.30,31.30,30.98,31.02,13383,24
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2022-01-28,08:00,13.26,13.32,13.26,13.30,12572,29
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2022-01-28,08:00,190.45,190.45,189.55,190.05,1413,26
4,DE000A0HN5C6,DWNI,DEUTSCHE WOHNEN SE INH,Common stock,EUR,2504314,2022-01-28,08:00,35.65,35.74,35.65,35.74,414,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250379,US8330341012,SPU,SNAP-ON INC. DL 1,Common stock,EUR,5993781,2022-01-27,20:30,184.20,184.20,184.20,184.20,0,1
250380,DE000A3E5ET8,BIO1,BIOTEST AG VZ O.N. Z.VERK,Common stock,EUR,6973998,2022-01-27,20:30,36.60,36.60,36.60,36.60,0,1
250381,GB0009390070,64K,"VOLEX PLC LS -,25",Common stock,EUR,7026067,2022-01-27,20:30,3.48,3.48,3.48,3.48,0,1
250382,NL0012866412,BSI,"BE SEMICON.INDSINH.EO-,01",Common stock,EUR,7026082,2022-01-27,20:30,75.00,75.00,75.00,75.00,0,1
250383,DE000A3MQDG4,BIO2,BIOTEST AG ST ANGEDIENT.,Common stock,EUR,7335008,2022-01-27,20:30,42.00,42.00,42.00,42.00,0,1

In [34]:
##df = StringIO(csv_obj)
##df = pd.read_csv(df, delimiter = ',')
##df.head()
df_init.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [36]:
columns = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice','EndPrice', 'TradedVolume', 'NumberOfTrades']

df_all = df_all.loc[:,columns]
df_all.dropna(inplace=True)
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,2022-01-28,08:00,16.39,16.44,16.39,16.44,3249,4
1,DE000A0DJ6J9,2022-01-28,08:00,31.30,31.30,30.98,31.02,13383,24
2,DE000A0D6554,2022-01-28,08:00,13.26,13.32,13.26,13.30,12572,29
3,DE000A0D9PT0,2022-01-28,08:00,190.45,190.45,189.55,190.05,1413,26
4,DE000A0HN5C6,2022-01-28,08:00,35.65,35.74,35.65,35.74,414,2
...,...,...,...,...,...,...,...,...,...
250379,US8330341012,2022-01-27,20:30,184.20,184.20,184.20,184.20,0,1
250380,DE000A3E5ET8,2022-01-27,20:30,36.60,36.60,36.60,36.60,0,1
250381,GB0009390070,2022-01-27,20:30,3.48,3.48,3.48,3.48,0,1
250382,NL0012866412,2022-01-27,20:30,75.00,75.00,75.00,75.00,0,1
250383,DE000A3MQDG4,2022-01-27,20:30,42.00,42.00,42.00,42.00,0,1

# Get opening pricer per ISIN and day

In [38]:
df_all['opening_price'] = df_all.sort_values(by = ['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('first')

In [40]:
df_all[df_all['ISIN'] == 'AT0000A0E9W5']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades,opening_price
0,AT0000A0E9W5,2022-01-28,08:00,16.39,16.44,16.39,16.44,3249,4,16.39
259,AT0000A0E9W5,2022-01-28,08:02,16.39,16.39,16.39,16.39,236,1,16.39
2861,AT0000A0E9W5,2022-01-28,08:05,16.46,16.46,16.41,16.41,1044,5,16.39
3448,AT0000A0E9W5,2022-01-28,08:07,16.38,16.38,16.35,16.35,410,2,16.39
3679,AT0000A0E9W5,2022-01-28,08:08,16.40,16.40,16.40,16.40,60,1,16.39
...,...,...,...,...,...,...,...,...,...,...
245744,AT0000A0E9W5,2022-01-27,16:26,16.53,16.54,16.52,16.52,6085,8,16.35
246107,AT0000A0E9W5,2022-01-27,16:27,16.54,16.54,16.54,16.54,6,1,16.35
246390,AT0000A0E9W5,2022-01-27,16:28,16.56,16.56,16.56,16.56,275,2,16.35
246697,AT0000A0E9W5,2022-01-27,16:29,16.55,16.56,16.55,16.56,1934,4,16.35
247190,AT0000A0E9W5,2022-01-27,16:35,16.54,16.54,16.54,16.54,41083,2,16.35

# Get Closing price per ISIN and day

In [41]:
df_all['closing_price'] = df_all.sort_values(by = ['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('last')

In [42]:
df_all[df_all['ISIN'] == 'AT0000A0E9W5']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades,opening_price,closing_price
0,AT0000A0E9W5,2022-01-28,08:00,16.39,16.44,16.39,16.44,3249,4,16.39,16.35
259,AT0000A0E9W5,2022-01-28,08:02,16.39,16.39,16.39,16.39,236,1,16.39,16.35
2861,AT0000A0E9W5,2022-01-28,08:05,16.46,16.46,16.41,16.41,1044,5,16.39,16.35
3448,AT0000A0E9W5,2022-01-28,08:07,16.38,16.38,16.35,16.35,410,2,16.39,16.35
3679,AT0000A0E9W5,2022-01-28,08:08,16.40,16.40,16.40,16.40,60,1,16.39,16.35
...,...,...,...,...,...,...,...,...,...,...,...
245744,AT0000A0E9W5,2022-01-27,16:26,16.53,16.54,16.52,16.52,6085,8,16.35,16.54
246107,AT0000A0E9W5,2022-01-27,16:27,16.54,16.54,16.54,16.54,6,1,16.35,16.54
246390,AT0000A0E9W5,2022-01-27,16:28,16.56,16.56,16.56,16.56,275,2,16.35,16.54
246697,AT0000A0E9W5,2022-01-27,16:29,16.55,16.56,16.55,16.56,1934,4,16.35,16.54
247190,AT0000A0E9W5,2022-01-27,16:35,16.54,16.54,16.54,16.54,41083,2,16.35,16.54

# Aggregations

In [43]:
df_all = df_all.groupby(['ISIN', 'Date'], as_index=False).agg(opening_price_eur= ('opening_price', 'min'), closing_price_eur = ('closing_price', 'min'), minimum_price_eur = ('MinPrice', 'min'), maximum_price_eur = ('MaxPrice', 'max'), daily_traded_volume = ('TradedVolume', 'sum'))

In [44]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume
0,AT000000STR1,2022-01-27,37.600,37.000,37.000,37.900,485
1,AT000000STR1,2022-01-28,38.050,37.000,37.000,38.050,456
2,AT00000FACC2,2022-01-27,7.640,7.620,7.620,7.640,60
3,AT00000FACC2,2022-01-28,7.660,7.520,7.520,7.660,610
4,AT0000606306,2022-01-27,24.160,25.080,24.160,25.260,1363
...,...,...,...,...,...,...,...
6360,XS2314659447,2022-01-28,8.774,8.576,8.570,8.774,1037
6361,XS2314660700,2022-01-27,20.206,20.316,20.206,20.472,148
6362,XS2314660700,2022-01-28,20.328,20.246,20.054,20.328,58
6363,XS2376095068,2022-01-27,32.216,32.884,32.216,33.326,11504
6364,XS2376095068,2022-01-28,32.988,33.230,32.766,33.230,0

# Percent Change - Daily Performance

In [45]:
df_all['prev_closing_price'] = df_all.sort_values(by=['Date']).groupby(['ISIN'])['closing_price_eur'].shift(1)

In [46]:
df_all['change_prev_closing_%'] = (df_all['closing_price_eur'] - df_all['prev_closing_price']) / df_all['prev_closing_price'] * 100

In [47]:
df_all.drop(columns=['prev_closing_price'], inplace=True)

In [48]:
df_all = df_all.round(decimals=2)

In [49]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,change_prev_closing_%
0,AT000000STR1,2022-01-27,37.60,37.00,37.00,37.90,485,NaN
1,AT000000STR1,2022-01-28,38.05,37.00,37.00,38.05,456,0.00
2,AT00000FACC2,2022-01-27,7.64,7.62,7.62,7.64,60,NaN
3,AT00000FACC2,2022-01-28,7.66,7.52,7.52,7.66,610,-1.31
4,AT0000606306,2022-01-27,24.16,25.08,24.16,25.26,1363,NaN
...,...,...,...,...,...,...,...,...
6360,XS2314659447,2022-01-28,8.77,8.58,8.57,8.77,1037,-2.72
6361,XS2314660700,2022-01-27,20.21,20.32,20.21,20.47,148,NaN
6362,XS2314660700,2022-01-28,20.33,20.25,20.05,20.33,58,-0.34
6363,XS2376095068,2022-01-27,32.22,32.88,32.22,33.33,11504,NaN
6364,XS2376095068,2022-01-28,32.99,33.23,32.77,33.23,0,1.05